body{
    background: rgb(255, 255, 255);
}
body{
    font: normal 13pt Arial;
    text-align: center;
    color: rgb(0, 4, 253);
}
input{
    font: normal 18pt Arial;
    width: 90px
}
div#res{
    margin-top: 25px;
}
input#som{
    width: 50px;
    margin-right: 100px;
}
input#sub{
    width: 50px;
    margin-right: 100px;
}
input#mul{
    width: 50px;
    margin-right: 100px;
}
input#div{
    width: 50px;
    margin-right: 100px;
}